
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
	<div class="titlearea" >
		<%= f.text_area :title, placeholder: "title" %>
	</div>
	<%= f.text_area :body, placeholder: "compost new post..." %>
	<%= f.select :state, [["publish", 2],["complete", 1],["draft", 0]] %>
</div>
